<h3 class="text-center m-3">
  Cite as diferenças e responsabilidades entre: HTML, CSS, Javascript
</h3>

<div class="container p-5">
  <h4>HTML - <i>HyperText Markup Language</i></h4>
  <p>
    É responsável por criar as páginas web. A estrutura da página é definida
    através de tags e os componentes são interpretados pelo navegador.
  </p>

  <p-divider></p-divider>

  <h4>CSS - <i>Cascading Style Sheet </i></h4>
  <p>
    Primeiramente responsável por formatar e estilizar os elementos HTML. Porém,
    atualmente evoluiu para uma pseudo linguagem de programação. Através do css
    dá-se movimento, cor, espaçamento e etc, aos elementos da página.
  </p>

  <p-divider></p-divider>

  <h4>Javascript</h4>
  <p>
    É responsável por dar dinâmica e ação às páginas e aplicações web. É uma
    linguagem de programação interpretada, baseada em orientação a objetos e
    client-side. Utilizada principalmente em navegadores web, mas também em
    outros ambientes como Node.js. É uma linguagem de script multiplataforma que
    evolui rápido e torna-se cada vez mais poderosa. F
  </p>
</div>
