<h3 class="text-center m-3">
  Explique a diferença entre uma arquitetura MVC e SPA (Ex: AngularJs)
</h3>

<div class="container p-5">
  <h4>MVC - <i>Model View Controller</i></h4>
  <p>O padrão de projeto MVC divide a aplicação em três subsistemas</p>

  <ul>
    <li>Model - Responsável pelo encapsulamento dos dados</li>
    <li>
      View - Obtenção e apresentação dos dados. Geralmente a interface com o
      usuário.
    </li>
    <li>Controller - Faz o intermédio e a modificação dos dados.</li>
  </ul>

  <p>
    A regra de negócio fica isolada dos dados, que por sua vez ficam isolados da
    interface com usuário. Dividindo-se as responsabilidades e aumentando a
    manutenibilidade da aplicação.
  </p>

  <p-divider></p-divider>

  <h4>SPA - <i>Single Page Application</i></h4>
  <p>
    Ao contrário das MPA (<i>Multi Page Application</i>), as SPAs não fazem
    requisição de uma página inteira. SPA reescreve porções de uma única página,
    com o objetivo de passar a experiência de um aplicativo ao usuário.
  </p>

  <p>Você está acessando uma SPA neste exato momento.</p>

  <p-divider></p-divider>
</div>
