<div class="p-4">
  <h1 class="text-center">Test Developer v1</h1>
  <h3 class="text-center">Mário Guilherme Macedo</h3>
  <h6 class="text-black-50 text-center m-4">
    As respostas podem ser acessadas clicando nas perguntas ou pelo menu.
  </h6>
  <h4>
    Cenário: Dados um sistema de Caixas eletrônicos, que podem possuir notas de
    (5, 10, 20, 50 ou 100).
  </h4>

  <h5>
    Este caixa eletrônico dever ter uma função de saque, que recebe o valor a
    ser sacado.
  </h5>

  <ol>
    <li [routerLink]="['/question-one']">
      Desenhe um modelo de entidade relacional para registrar os caixas
      eletrônicas, notas disponíveis, saques realizados e clientes.
    </li>
    <!-- <li [routerLink]="['/question-two']"> -->
    <li class="disabled">
      Desenhe o sistema de classes e atributos que represente Caixas
      Eletrônicos, Notas, Cliente Pessoa Física e Pessoa Jurídica. Utilize
      preferencialmente boas práticas de Orientação a Objetos como heranças e
      interfaces.
    </li>
    <li [routerLink]="['/question-three']">
      Você pode citar os diferentes níveis e responsabilidades em uma
      arquitetura N-Tier? Ex: MVC
    </li>
    <li [routerLink]="['/question-four']">
      Cite as diferenças e responsabilidades entre: HTML, CSS, Javascript.
    </li>
    <li [routerLink]="['/question-five']">
      Explique a diferença entre uma arquitetura MVC e SPA (Ex: AngularJs)
    </li>
    <li [routerLink]="['/question-six']">
      Teste de logica: Contador de notas: Criar um programa (Qualquer linguagem)
      que receba N argumentos, onde o primeiro é o valor a ser sacado e os
      demais as notas disponíveis. O resultado deve ser as combinações possíveis
      de quantidade e notas para saque.
    </li>
  </ol>
</div>
