<h3 class="text-center m-3">
  Você pode citar os diferentes níveis e responsabilidades em uma arquitetura
  N-Tier? Ex: MVC
</h3>

<div class="container p-5">
  <p>
    Softwares desenvolvidos utilizando arquitetura N-tier têm o processamento,
    gerenciamento de dados e funções de apresentação separadas não apenas
    logicamente, mas também fisicamente. Isso significa que essas camadas estão
    em diferentes máquinas ou clusters, garantindo que os serviços serão
    providos sem o compartilhamento de recursos, ou seja, em capacidade máxima.
  </p>

  <h4>MVC - <i>Model View Controller</i></h4>
  <p>O padrão de projeto MVC divide a aplicação em três camadas (3-tier).</p>

  <ul>
    <li>View - Presentation Tier</li>
    <li>Controller - Logic Tier</li>
    <li>Model - Data tier</li>
  </ul>

  <p-divider></p-divider>
</div>
